In [44]:
# pandas for dataframes and reading excel data
import pandas as pd

# numpy for matrix calculations
import numpy as np

# matplotlob for plotting data
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
data = pd.read_excel('data sheet.xlsx', sheetname='Sheet1')

In [46]:
data.head()

,SI.NO,DATE,NAME,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,1,2016-04-04,Prabhu Vignesh,29,Male,no,no,no,"115, 115, 113",114.30
1,2,2016-04-05,Leelavathi,36,Female,no,no,no,"95,94,96",94.00
2,3,2016-04-04,Samuel,37,Male,no,no,no,"80,82,81",81.00
3,4,2016-04-04,Rubeena,37,Female,no,no,no,"100, 101, 100",100.33
4,5,2016-03-31,Manjula,38,female,no,no,no,9.91001e+07,99.80

In [47]:
# drop unnecessary details
data.drop('DATE', axis=1, inplace=True)
data.drop('SI.NO', axis=1, inplace=True)
data.drop('NAME', axis=1, inplace=True)

# recheck the data
data.head()

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,29,Male,no,no,no,"115, 115, 113",114.30
1,36,Female,no,no,no,"95,94,96",94.00
2,37,Male,no,no,no,"80,82,81",81.00
3,37,Female,no,no,no,"100, 101, 100",100.33
4,38,female,no,no,no,9.91001e+07,99.80

In [48]:
# shape of the data
data.shape

(50, 7)

In [49]:
# we have 50 rows and 7 columns
# our best bet would be to do One Shot learning

In [50]:
# we will convert data into lowercase
data['SEX'] = data['SEX'].str.lower()
data['ASSO MEDICAL PROB'] = data['ASSO MEDICAL PROB'].str.lower()
data['H/O INJURY/SURGERY'] = data['H/O INJURY/SURGERY'].str.lower()
data['DRUG HISTORY'] = data['DRUG HISTORY'].str.lower()

data.tail()

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
45,72,male,no,no,no,"68, 69, 68",68.30
46,72,male,"yes(diabetes,blockage in heart)",shouler surgery,yes,"69,70,71",70.00
47,74,female,"yes(diabetes,bp)",knee surgery,yes,"63,62,62.6",62.53
48,76,male,"yes(diabetes,kidney stone)",no,no,"62,61,62.5",61.83
49,85,male,"yes (diabetes,heart blockage)",yes(open heart surgery),yes,"62,63,64",63.00

In [51]:
# now we need to cahnge our data into computer recognizable data.
# from strings in sex and medical prob and others to integers

# changing SEX
data['SEX'] = data['SEX'] == 'female'
data['SEX'] = data['SEX'].map({ True:1, False:0 })

# changing medical probelm data
data['ASSO MEDICAL PROB'] = data['ASSO MEDICAL PROB'] == 'no'
data['ASSO MEDICAL PROB'] = data['ASSO MEDICAL PROB'].map({ True:0, False:1 })

# changing Injury surgery data
data['H/O INJURY/SURGERY'] = data['H/O INJURY/SURGERY'] == 'no'
data['H/O INJURY/SURGERY'] = data['H/O INJURY/SURGERY'].map({ True:0, False:1 })

# changing drug history data
data['DRUG HISTORY'] = data['DRUG HISTORY'] == 'no'
data['DRUG HISTORY'] = data['DRUG HISTORY'].map({ True:0, False:1 })


data

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,29,0,0,0,0,"115, 115, 113",114.300
1,36,1,0,0,0,"95,94,96",94.000
2,37,0,0,0,0,"80,82,81",81.000
3,37,1,0,0,0,"100, 101, 100",100.330
4,38,1,0,0,0,9.91001e+07,99.800
5,39,1,0,0,0,"99,99.5,101",99.830
6,39,1,0,0,0,"100, 99, 100.5",99.800
7,41,1,0,0,0,"99,95.5,98",98.300
8,42,1,0,0,0,"86,89,90",88.330
9,44,1,0,0,0,"90,91,92",91.000
10,45,1,1,0,0,"91,89.2,89",89.770
11,45,1,0,0,0,"89,88,88",88.330
12,45,1,0,1,0,"85,83,84",84.000
13,48,1,0,0,0,"86,86.2,85",85.770
14,49,1,1,0,1,"90,92,93",91.670
15,52,1,0,0,0,"79,80,81",80.000
16,52,1,1,0,0,"85,85,84",84.660
17,52,1,0,0,0,"90,89,87",88.660
18,53,1,0,0,0,"80,81,81.8",80.930
19,55,1,0,0,0,"78,78,78.5",78.160
20,55,1,0,0,0,"77.5,76,78",78.000
21,56,1,0,0,0,"79.4,80,80",79.800
22,56,1,0,0,0,"77,76,78",77.000
23,56,1,1,0,0,"77, 78, 77",77.300
24,56,1,1,0,0,"72,73.5,73",72.880
25,57,1,0,1,0,"72,73,71",72.000
26,57,0,0,0,0,"81,82.5,80",81.160
27,60,1,0,0,0,"72.1,73,73",72.700
28,60,1,0,0,0,"69,71,72",70.660
29,61,1,0,0,0,"70,69.5,69",69.500
30,62,0,0,0,0,"67,66.2,65",66.000
31,62,1,1,1,1,"75,76,76.2",75.700
32,63,1,1,0,0,"71,70,71",70.660
33,64,1,1,1,1,"65, 64, 63.5",64.166
34,66,1,1,0,1,"72,70,71",71.000
35,66,1,1,0,0,"68,69,69",68.660
36,66,0,0,0,0,"69,68,70",69.000
37,67,0,1,0,1,"69,68,70",69.000
38,67,0,0,0,0,"66,68,69",67.660
39,68,1,0,0,0,"61, 60, 63",61.330
40,68,0,0,1,1,"63, 61, 62.5",62.166
41,68,0,1,0,1,"70,70,70.5",70.160
42,69,0,1,0,1,"76,75.5,76",75.833
43,69,1,0,0,0,"66,65,65.5",65.800
44,70,1,1,0,1,"65.2,65.5,64",64.900
45,72,0,0,0,0,"68, 69, 68",68.300
46,72,0,1,1,1,"69,70,71",70.000
47,74,1,1,1,1,"63,62,62.6",62.530
48,76,0,1,0,0,"62,61,62.5",61.830
49,85,0,1,1,1,"62,63,64",63.000

In [52]:
# we know that some 'yes' had other details so we will fill 
# the Assoc medical problems and injury surgery as 1.
data.fillna(-999999999)
data

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,29,0,0,0,0,"115, 115, 113",114.300
1,36,1,0,0,0,"95,94,96",94.000
2,37,0,0,0,0,"80,82,81",81.000
3,37,1,0,0,0,"100, 101, 100",100.330
4,38,1,0,0,0,9.91001e+07,99.800
5,39,1,0,0,0,"99,99.5,101",99.830
6,39,1,0,0,0,"100, 99, 100.5",99.800
7,41,1,0,0,0,"99,95.5,98",98.300
8,42,1,0,0,0,"86,89,90",88.330
9,44,1,0,0,0,"90,91,92",91.000
10,45,1,1,0,0,"91,89.2,89",89.770
11,45,1,0,0,0,"89,88,88",88.330
12,45,1,0,1,0,"85,83,84",84.000
13,48,1,0,0,0,"86,86.2,85",85.770
14,49,1,1,0,1,"90,92,93",91.670
15,52,1,0,0,0,"79,80,81",80.000
16,52,1,1,0,0,"85,85,84",84.660
17,52,1,0,0,0,"90,89,87",88.660
18,53,1,0,0,0,"80,81,81.8",80.930
19,55,1,0,0,0,"78,78,78.5",78.160
20,55,1,0,0,0,"77.5,76,78",78.000
21,56,1,0,0,0,"79.4,80,80",79.800
22,56,1,0,0,0,"77,76,78",77.000
23,56,1,1,0,0,"77, 78, 77",77.300
24,56,1,1,0,0,"72,73.5,73",72.880
25,57,1,0,1,0,"72,73,71",72.000
26,57,0,0,0,0,"81,82.5,80",81.160
27,60,1,0,0,0,"72.1,73,73",72.700
28,60,1,0,0,0,"69,71,72",70.660
29,61,1,0,0,0,"70,69.5,69",69.500
30,62,0,0,0,0,"67,66.2,65",66.000
31,62,1,1,1,1,"75,76,76.2",75.700
32,63,1,1,0,0,"71,70,71",70.660
33,64,1,1,1,1,"65, 64, 63.5",64.166
34,66,1,1,0,1,"72,70,71",71.000
35,66,1,1,0,0,"68,69,69",68.660
36,66,0,0,0,0,"69,68,70",69.000
37,67,0,1,0,1,"69,68,70",69.000
38,67,0,0,0,0,"66,68,69",67.660
39,68,1,0,0,0,"61, 60, 63",61.330
40,68,0,0,1,1,"63, 61, 62.5",62.166
41,68,0,1,0,1,"70,70,70.5",70.160
42,69,0,1,0,1,"76,75.5,76",75.833
43,69,1,0,0,0,"66,65,65.5",65.800
44,70,1,1,0,1,"65.2,65.5,64",64.900
45,72,0,0,0,0,"68, 69, 68",68.300
46,72,0,1,1,1,"69,70,71",70.000
47,74,1,1,1,1,"63,62,62.6",62.530
48,76,0,1,0,0,"62,61,62.5",61.830
49,85,0,1,1,1,"62,63,64",63.000