In [43]:
import pickle
from sklearn import linear_model
import pandas as pd

In [44]:
# get the pre-processed data.
with open('data_processed', 'rb') as f:
    data = pickle.load(f)
data.head()

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,29,0,0,0,0,"115, 115, 113",114.30
1,36,1,0,0,0,"95,94,96",94.00
2,37,0,0,0,0,"80,82,81",81.00
3,37,1,0,0,0,"100, 101, 100",100.33
4,38,1,0,0,0,9.91001e+07,99.80

In [51]:
# normalizing data
data['AGE'] = data[['AGE']].apply( lambda X: (X-X.min()) / (X.max()-X.min()) )
data['avg'] = data[['avg']].apply( lambda X: (X-X.min()) / (X.max()-X.min()) )
data.head()

,AGE,SEX,ASSO MEDICAL PROB,H/O INJURY/SURGERY,DRUG HISTORY,FREQUENCY,avg
0,0.000000,0,0,0,0,"115, 115, 113",1.000000
1,0.125000,1,0,0,0,"95,94,96",0.616764
2,0.142857,0,0,0,0,"80,82,81",0.371342
3,0.142857,1,0,0,0,"100, 101, 100",0.736266
4,0.160714,1,0,0,0,9.91001e+07,0.726260

In [52]:
# divide data into testing and training models
from sklearn import cross_validation
X = data.drop(['avg','FREQUENCY'], axis=1, inPlace=True)
X = data.drop
Y= data['avg']
X_train, X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y)
X_train.shape

(37, 6)

In [53]:
# importing and creating our regression model
regression = linear_model.LinearRegression()
# training our mdoel
regression.fit(X_train, Y_train)
# calculating our acccuracy on test data
accuracy = regression.score(X_test,Y_test)

print(accuracy)

1.0

In [54]:
print(regression.coef_)

[  1.63615451e-16   1.94476494e-16  -6.86918115e-17   2.59335855e-17
  -1.43693712e-16   1.00000000e+00]